* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fffdfa;
}

.headlines-wrapper,
.header-wrapper {
  width: 91.467vw;
  max-width: 1110px;
  display: flex;
  align-items: center;
  margin: auto;
}

/* ------- Header ------- */
.header-wrapper {
  height: 90px;
  justify-content: space-between;
}

.logo-img {
  width: 45px;
  height: 28px;
}

.ham-icon {
  cursor: pointer;
  width: 40px;
  height: 17px;
}
.ham-close {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 28px;
  width: 30px;
  height: 30px;
}

.nav-menu {
  display: none;
}

.menu-open::before {
  content: '';
  position: fixed;
  left: 0;
  width: 30vw;
  height: 100vh;
  background-color: hsla(240, 15%, 21%, 0.7);
  background-color: hsla(234, 17%, 22%, 0.596);
  z-index: 1;
}
.menu-open {
  display: initial;
  filter: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  background-color: #fffdfa;
  z-index: 2;
}

.nav-links {
  padding: 8em 2em;
  font-size: 18px;
}

.nav-links li {
  list-style-type: none;
  margin-bottom: 1.45em;
}

.nav-links a {
  text-decoration: none;
  color: #00001a;
}
.nav-links a:hover {
  color: hsl(5, 85%, 63%);
}
/* ------- Main Headline ------- */

.main-headline {
  margin-bottom: 4em;
}
.headlines-wrapper {
  flex-direction: column;
}

.headlines-wrapper img {
  height: 100%;
  width: 100%;
}

.headline-title {
  padding: 0.7em 1em 0.5em 0em;
  font-style: normal;
  font-size: 27px;
  line-height: 40px;
  color: hsl(240, 100%, 5%);
}

.headline-overview p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 26px;
}

.headline-overview button {
  margin-top: 2em;
  width: 185px;
  height: 48px;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  border: 1px solid hsla(0, 0%, 0%, 0.25);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.headline-overview button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

/* ------- New Stories ------- */

.new-stories {
  background-color: hsl(240, 100%, 5%);
  padding: 0em 1.3em;
  margin-bottom: 4em;
  height: 489px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.new-stories h2 {
  color: hsl(35, 77%, 62%);
  font-size: 32px;
}

.new-story h3 {
  color: hsl(36, 100%, 99%);
  font-size: 20px;
  padding-bottom: 0.6em;
}

.new-story h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.new-story p {
  font-size: 15px;
  color: hsl(237, 12%, 67%);
  line-height: 26px;
}

hr {
  height: 1px;
  background-color: hsl(236, 13%, 42%);
  border: none;
}

/* ------- Popular Stories ------- */

.popular-stories-wrapper {
  margin-bottom: 3em;
  width: 100%;
}

.popular-story {
  display: flex;
  margin-bottom: 2em;
}

.popular-story img {
  width: 100px;
  height: 129px;
}

.popular-story-info {
  padding-left: 1.2em;
}

.popular-story-info h2 {
  color: hsl(233, 8%, 79%);
  font-size: 32px;
  text-align: initial;
  padding-bottom: 0.2em;
}

.popular-story-info h3 {
  font-weight: 800;
  padding-bottom: 0.5em;
  font-size: 18px;
}

.popular-story-info h3:hover {
  cursor: pointer;
  color: hsl(5, 85%, 63%);
}

.popular-story-info p {
  color: hsl(236, 13%, 42%);
  line-height: 26px;
  font-size: 15px;
}

@media only screen and (min-width: 1000px) {
  /* RESET  */
  .main-headline,
  .new-stories,
  .popular-stories-wrapper,
  .headline-title {
    padding: 0;
    margin: 0;
  }

  /* ------- Header ------- */

  .header-wrapper {
    height: 164px;
  }

  .logo-img {
    height: 40px;
    width: 65px;
  }
  .ham-icon,
  .ham-close {
    display: none;
  }
  .menu-open::before {
    display: none;
  }

  .nav-menu {
    display: block;
    position: initial;
    height: 100%;
    width: 430px;
  }

  .nav-links {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }

  .nav-links li {
    margin: 0;
  }
  .nav-links a {
    color: hsl(236, 13%, 42%);
  }

  /* ------- Headlines ------- */

  .grid-wrapper {
    display: flex;
    gap: 1.7em;
    margin-bottom: 4em;
  }

  .main-headline {
    display: grid;
    width: 66%;
    align-items: stretch;
    gap: 2em;
  }

  .main-headline img {
    grid-column: 1 / 3;
    content: url(images/image-web-3-desktop.jpg);
  }

  .headline-title h1 {
    font-weight: 900;
    font-size: 45px;
    line-height: 56px;
  }
  .headline-overview p {
    font-size: 13px;
    line-height: 26px;
  }

  /* ------- New Stories ------- */
  .new-stories {
    flex: 1;
    padding: 0 1.2em;
  }

  .new-stories h2 {
    padding-bottom: 0;
    font-size: 30px;
  }

  .new-story h3 {
    font-size: 16px;
  }

  .new-story p {
    font-size: 12px;
  }

  hr {
    margin: 0;
  }

  /* ------- Popular Stories ------- */
  .popular-stories-wrapper {
    display: flex;
  }

  .popular-story img {
    width: 100px;
    height: 100px;
    margin-right: 1.5em;
  }
  .popular-story-info {
    padding: 0;
  }

  .popular-story-info h2 {
    font-size: 20px;
  }

  .popular-story-info h3 {
    font-size: 14px;
  }

  .popular-story-info p {
    font-size: 12px;
  }

  .popular-story {
    padding: 0;
    width: 33.3%;
    margin-bottom: 7em;
  }

  .popular-story:first-child {
    padding-right: 1em;
    margin-right: 2.2em;
  }

  .popular-story:nth-child(2) {
    padding-right: 1em;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1150px) {
  .headline-title h1 {
    font-size: 45px;
  }

  .headline-overview p {
    font-size: 13px;
  }

  .headline-title h1 {
    font-size: 60px;
  }
  .headline-overview p {
    font-size: 15px;
  }

  .new-stories h2 {
    font-size: 40px;
  }

  .new-stories h3 {
    font-size: 20px;
  }

  .new-stories p {
    font-size: 15px;
  }

  .popular-story img {
    width: 100px;
    height: 127px;
  }

  .popular-story-info h2 {
    font-size: 32px;
  }

  .popular-story-info h3 {
    font-size: 18px;
  }
  .popular-story-info p {
    font-size: 15px;
  }
}
