* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fffdfa;
}

.headlines-wrapper,
.header-wrapper {
  width: 91.467vw;
  max-width: 850px;
  display: flex;
  align-items: center;
  margin: auto;
}

/* ------- Header ------- */
.header-wrapper {
  height: 90px;
  justify-content: space-between;
}

.logo-img {
  width: 45px;
  height: 28px;
}

.ham-icon {
  cursor: pointer;
  width: 40px;
  height: 17px;
}
.ham-close {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 28px;
  width: 30px;
  height: 30px;
}

.nav-menu {
  display: none;
}

.menu-open::before {
  content: '';
  position: fixed;
  left: 0;
  width: 30vw;
  height: 100vh;
  background-color: hsla(240, 15%, 21%, 0.7);
  background-color: hsla(234, 17%, 22%, 0.596);
  z-index: 1;
}
.menu-open {
  display: initial;
  filter: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  background-color: #fffdfa;
  z-index: 2;
}

.nav-links {
  padding: 8em 2em;
  font-size: 18px;
}

.nav-links li {
  list-style-type: none;
  margin-bottom: 1.45em;
}

.nav-links a {
  text-decoration: none;
  color: #00001a;
}
.nav-links a:hover {
  color: hsl(5, 85%, 63%);
}
/* ------- Main Headline ------- */

.main-headline {
  margin-bottom: 4em;
}
.headlines-wrapper {
  flex-direction: column;
}

.headlines-wrapper img {
  height: 100%;
  width: 100%;
}

.headline-title {
  padding: 0.7em 1em 0.5em 0em;
  font-style: normal;
  font-size: 27px;
  line-height: 40px;
  color: hsl(240, 100%, 5%);
}

.headline-overview p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 26px;
}

.headline-overview button {
  margin-top: 2em;
  width: 185px;
  height: 48px;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  border: 1px solid hsla(0, 0%, 0%, 0.25);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.headline-overview button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

/* ------- New Stories ------- */

.new-stories {
  background-color: hsl(240, 100%, 5%);
  padding: 0em 1.3em;
  margin-bottom: 4em;
  height: 489px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.new-stories h2 {
  color: hsl(35, 77%, 62%);
  font-size: 32px;
}

.new-story h3 {
  color: hsl(36, 100%, 99%);
  font-size: 20px;
  padding-bottom: 0.6em;
}

.new-story h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.new-story p {
  font-size: 15px;
  color: hsl(237, 12%, 67%);
  line-height: 26px;
}

hr {
  height: 1px;
  background-color: hsl(236, 13%, 42%);
  border: none;
}

/* ------- Popular Stories ------- */

.popular-stories-wrapper {
  margin-bottom: 3em;
  width: 100%;
}

.popular-story {
  display: flex;
  margin-bottom: 2em;
}

.popular-story img {
  width: 100px;
  height: 129px;
}

.popular-story-info {
  padding-left: 1.2em;
}

.popular-story-info h2 {
  color: hsl(233, 8%, 79%);
  font-size: 32px;
  text-align: initial;
  padding-bottom: 0.2em;
}

.popular-story-info h3 {
  font-weight: 800;
  padding-bottom: 0.5em;
  font-size: 18px;
}

.popular-story-info h3:hover {
  cursor: pointer;
  color: hsl(5, 85%, 63%);
}

.popular-story-info p {
  color: hsl(236, 13%, 42%);
  line-height: 26px;
  font-size: 15px;
}
  .header-wrapper {
    height: 140px;
  }
  .ham-icon,
  .ham-close {
    display: none;
  }
  .menu-open::before {
    display: none;
  }

  .nav-menu {
    display: block;
    position: initial;
    height: 100%;
    max-width: 400px;
    width: 50%;
  }

  .nav-links {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }

  .nav-links li {
    margin: 0;
  }
  .nav-links a {
    color: hsl(236, 13%, 42%);
  }
}
